[*.cs]

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = warning

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# IDE0025: Use expression body for properties
dotnet_diagnostic.IDE0025.severity = none

# IDE0056: Use index operator
dotnet_diagnostic.IDE0056.severity = none

# IDE0028: Simplify collection initialization
dotnet_diagnostic.IDE0028.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none
